#board.layout-trello-grid {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-content: flex-start;
}

#board.layout-trello-grid {
    flex-direction: column;
    flex-wrap: wrap;
}

#board.layout-trello-grid .list-wrapper {
    margin: 4px 0 10px 10px;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#board.layout-trello-grid .js-list-content {
    flex: 1;
}
